<h1>New Note</h1>
<style>
  div {
  font-size: 50 px
  }
  h1 {
    color: red;
    font-size: 50 px
  }
  </style>

<form action="/create_user">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <br>
  <div>
    <label for="date">date</label><br />
    <input id="date" name="date" type="text" />
  </div>
  <br>
  <div>
    <label for="note">note</label><br />
    <input id="note" name="note" type="text" />
  </div>
  <div> 
    <br>
    <br>
    <input type="submit">
  </div>
</form>

