<style>
  h1{
    color:red
  }
  h3{
    color:red
  }
  </style>

<h1>WELCOME BACK</h1>
<form action="/home">
  <input type="submit">
  </form>
  <br>
<img src="http://media1.giphy.com/media/GXMjcxJ7OijWU/200.gif" height=400px width=400px>
<br>
<br>
<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRIpCLey3vf636g9FyBIyqn-Qs3nyVqrFB1YhllatqOGibX8veKMg" height=400px width=400px>
<br>
<img src="http://www.trbimg.com/img-4fabbd8f/turbine/pnr-prep-baseball-east-jordan-sweeps-harbor-sp-002/600" height=400px width=400px>
<br>
<img src="http://bloximages.newyork1.vip.townnews.com/petoskeynews.com/content/tncms/assets/v3/editorial/b/89/b8951ad3-c725-59c5-8ace-bd2d209c43a9/54008e06d0481.image.jpg?resize=300%2C228" height=400px width=400px>
<br>
<img src="http://www.michiganhelmetproject.org/images/helmets/1115_l.gif" height=400px width=400px>
<br>
<img src="http://coachesaid.com/Content/Mascots/mi-mieastjordanhighschool-letter-150.png" height=400px width=400px>
<img src="http://vj.hudl.com/15789/94703/165000/1837622/PF/036/DkhZ_XL.jpg" height=400px width=400px>
<img src="http://media3.giphy.com/media/XuUjfLCwnUAQE/200.gif" height=400px width=400px>
<img src="http://pics2.city-data.com/city/maps4/frs900.png" height=400px width=400px>
<br>
<img src="http://bloximages.newyork1.vip.townnews.com/petoskeynews.com/content/tncms/assets/v3/editorial/1/dd/1dd25784-4d24-563c-b9a4-c77b33af985b/53be7c98560c5.preview-300.jpg" height=400px width=400px>
<img src="http://bloximages.newyork1.vip.townnews.com/petoskeynews.com/content/tncms/assets/v3/editorial/6/e1/6e1c5217-f8e8-55f4-b462-f72787eaa6a2/531f1e03a3883.image.jpg?resize=300%2C388" height=400px width=400px>
