<h1> Create a User </h1>
<form action="/pages/create">
  <label for="username"> Username: </label>
  <input type="text" name="username" placeholder="Your Username" id="username">
  <input type="submit">
</form>