<style>
  * {
  text-align: center;
  background: blue;
  color: yellow;
  }
  h1 {
    color: orange
  }
  h4 {
    color: yellow
  }
</style>
<h1>PLEASE SIGN IN!<h1>
  <form action="/sign_in">
    <input type="text" name="username" placeholder="name goes here...">
    <input type="text" name="password" placeholder="*******">
    <br>
    <br>
    <input type="submit">
  </form>
  <br>
  <h4> Or enjoy some COOL GIFs </h4>
  <br>
  <img src="http://media3.giphy.com/media/210DAyypS2W5O/200.gif" height=400px width=400px>
    <br>
  <img src="http://media.giphy.com/media/uBwrPmK7ODx3W/giphy.gif" height=400px width=400px>
    <br>
  <img src="http://media0.giphy.com/media/Xw9mgoJnslAcg/200.gif" height=400px width=400px>
    <br>
  <img src="http://media0.giphy.com/media/qyKM5ohUb134k/200.gif" height=400px width=400px>
    <br>
  <img src="http://media1.giphy.com/media/3XW3YMKWXFqF2/200.gif" height=400px width=400px>
    <br>
  <img src="http://media2.giphy.com/media/exXcU0NV3j3C8/200.gif" height=400px width=400px>
      <br>
  <img src="http://media2.giphy.com/media/WFHnzb64JIXO8/200.gif" height=400px width=400px>
      <br>
  <img src="http://media2.giphy.com/media/3z7vzJ78Jvaw/200.gif" height=400px width=400px>
      <br>
  <img src="http://media0.giphy.com/media/criSIArOEb35m/200.gif" height=400px width=400px>
      <br>
  <img src="http://media0.giphy.com/media/BS815W3AAj2kU/200.gif" height=400px width=400px>
        <br>
  <img src="http://media0.giphy.com/media/6YkWd68HVdAaY/200.gif" height=400px width=400px>
        <br>
  <img src="http://media2.giphy.com/media/TePizfFiwokc8/200.gif" height=400px width=400px>
        <br>
  <img src="http://media.giphy.com/media/y18Tf6cdTXcVa/giphy.gif" height=400px width=400px>
        <br>
  <img src="http://media1.giphy.com/media/dvhVBbhetu6Jy/200.gif" height=400px width=400px>
        <br>
  <img src="http://media2.giphy.com/media/DTtARHNFOxF2E/200.gif" height=400px width=400px>
        <br>
  <img src="http://media2.giphy.com/media/eoeLHJIZhj0zK/200.gif" height=400px width=400px>
        <br>
  <img src="http://media3.giphy.com/media/gRHRqQi5qY5dC/200.gif" height=400px width=400px>
        <br>
  <img src="http://media1.giphy.com/media/PtFTbfW5tyJpu/200.gif" height=400px width=400px>
    <img src="http://www.sports-logos-screensavers.com/user/MichiganWolverines.jpg" height=400px width=400px>
    <img src="http://upload.wikimedia.org/wikipedia/commons/9/94/Detroit_Tigers_Insignia.svg" height=400px width=400px>
    <img src="http://www.sports-logos-screensavers.com/user/Detroit_Lions3.jpg" height=400px width=400px>
    <img src="http://upload.wikimedia.org/wikipedia/en/thumb/e/e0/Detroit_Red_Wings_logo.svg/1280px-Detroit_Red_Wings_logo.svg.png" height=400px width=400px>
    <img src="http://s7d2.scene7.com/is/image/Fathead/lgo_nfl_new_england_patriots?layer=comp&fit=constrain&hei=310&wid=310&fmt=png-alpha&qlt=75,0&op_sharpen=1&resMode=bicub&op_usm=0.0,0.0,0,0&iccEmbed=0" height=400px width=400px>
    <img src="http://www.thelandingscharlevoix.com/images/landing_slide_3.jpg" height=400px width=400px>
   <img src="http://northwesterncrew.com/images/wildcat_n.png" height=400px width=400px>
  
  