<h1>HOME</h1>
 <!--<button type="button" class="glyphicon glyphicon-plus"><a href='/pages/create'>Create a User</a></button>-->
<button type="button" class="glyphicon glyphicon-exclamation-sign"><a href='/signout'>Sign Out</a></button>

<div class="btn_group">
  <button type="button" class="glyphicon glyphicon-pushpin"><a href='/users'>GO TO NOTES</a></button>
</div>

  <style>
  * { 
    background: black ;
    color: red; 
    text-align: center;
    
  }
  h1 {
    color: Red;
    font-size: 66px;
  }
  div {
    font-size: 40px
  }
    p {
      font-weight 99 px
    }
</style>
<p>___________________________________________________________________________________________________________________________________</p>
<div class="btn-group">
  <button type="button" class="glyphicon glyphicon-user"><a href="http://jsbin.com/vemiyi">MY NAME</a></button>
    <button type="button" class="glyphicon glyphicon-play-circle"><a href="http://netflix.com/">NETFLIX</a></button>
    <button type="button" class="glyphicon glyphicon-eye-close"><a href="http://antigravitygoogle.com/">GOOGLE</a></button>
    <button type="button" class="glyphicon glyphicon-tree-conifer"><a href="https://learn.education2020.com/student/">E2020</a></button>
    <button type="button" class="glyphicon glyphicon-headphones"><a href="http://www.pandora.com/">PANDORA</a></button>
       <button type="button" class="glyphicon glyphicon-send"><a href="https://accounts.google.com/ServiceLogin?service=mail&continue=https://mail.google.com/mail/">GMAIL</a></button>
    <button type="button" class="glyphicon glyphicon-facetime-video"><a href="http://www.youtube.com/">YOUTUBE</a></button>
  <button type="button" class="glyphicon glyphicon-edit"><a href="http://www.codecademy.com/">CODECADEMY</a></button>
  <button type="button" class="glyphicon glyphicon-stop"><a href="https://www.nitrous.io/">THE BOX</a></button>
  <button type="button" class="glyphicon glyphicon-tower"><a href="http://onemorelevel.com/">ONEMORELEVEL</a></button>
</div>
<br>
<br>

<br>
<body>
<img src="http://media1.giphy.com/media/GS1xhPpBqqL1m/giphy.gif" height=500px width=1800px>
  -->
</body>